img {height:200px; width:410; text-align:center; border: 10px solid #CC3300}
body {background-image: url("http://www.loschavezmexicangrille.com/wp-content/uploads/2013/01/website-background-full-hd-backgrounds-vintage-red-661979.jpg");
}


#one{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
    
}

#one{ transition:all .8s ease;} #one:hover{background-color:#336666;transform: rotate(2deg);} 
   


#two{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33 ;
	border-radius: 100px;
}
#two{ transition:all .8s ease;} #two:hover{background-color:#336666;transform: rotate(2deg);} 


#three{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33 ;
	border-radius: 100px;
}

#three{ transition:all .8s ease;} #three:hover{background-color:#336666;transform: rotate(2deg);} 

#four{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33 ;
	border-radius: 100px;
}
#four{ transition:all .8s ease;} #four:hover{background-color:#336666;transform: rotate(2deg);} 


#five {
  height: 300px;
  width: 1000px;
  border: 2px solid black;
  background-color: #993333;
  display: inline-block;
  opacity: 0.92;
  font-size: 20px;
}

a {
  color: #000033;
  text-decoration: none;
}

p {
  text-align: left;
}

a:hover {
  color: #CC3300;
}

#navbar {
	
	
	right:7%;
	margin-left:-254px;
	position: fixed;
	height: 220px;
	width: 200px;
	border: 2px solid black;
	background-color: #993333 ;
	opacity: 0.8;
	display:inline-block;
	margin-top: -10}

	td> img { width:120px; height:120px; text-align: left; border: 2px solid black;}
	

#calc{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#calc{ transition:all .8s ease;} #calc:hover{background-color:#336666;transform: rotate(2deg);} 
    
 #adventure{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#adventure{ transition:all .8s ease;} #adventure:hover{background-color:#336666;transform: rotate(2deg);} 


   
 #game{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#game{ transition:all .8s ease;} #game:hover{background-color:#336666;transform: rotate(2deg);} 
    


  
 #vindinium{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#vindinium{ transition:all .8s ease;} #vindinium:hover{background-color:#336666;transform: rotate(2deg);} 

#thanks{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#thanks{ transition:all .8s ease;} #thanks:hover{background-color:#336666;transform: rotate(2deg);} 

	
	
	
	