img {height:400px; width:200; text-align:center;}

body {background-image: url("http://www.loschavezmexicangrille.com/wp-content/uploads/2013/01/website-background-full-hd-backgrounds-vintage-red-661979.jpg");
}


#navbar {
	
	
	right:7%;
	margin-left:-254px;
	position: fixed;
	height: 220px;
	width: 150px;
	border: 2px solid black;
	opacity: 0.8;
background-color: #993333;
	display:inline-block;

	margin-top: -10}



#one{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
    
}

#one{ transition:all .8s ease;} #one:hover{background-color:#336666;transform: rotate(2deg);} 
   


#two{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33 ;
	border-radius: 100px;
}
#two{ transition:all .8s ease;} #two:hover{background-color:#336666;transform: rotate(2deg);} 


#three{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33 ;
	border-radius: 100px;
}

#three{ transition:all .8s ease;} #three:hover{background-color:#336666;transform: rotate(2deg);} 

#four{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33 ;
	border-radius: 100px;
}
#four{ transition:all .8s ease;} #four:hover{background-color:#336666;transform: rotate(2deg);} 




 
.card-front {
    width:100px;
    height:200px;
  z-index: 1;
  backface-visibility: hidden;
  transition:all 1.5s ease;
}
 
.card-back {
z-index:-1;
    width:60px;
    height:60px;
  position: relative;
  top: -300px;
    right: -20%;
  transform: rotateX(180deg);
  transition:all 1.5s ease;
  
}
.card-container{
    height:200px;
    width:100px;
    
}


.card-container:click .card-back{
    transform:rotateX(0deg);
}
.card-container:hover .card-front{
    transform:rotateX(180deg);
}

 #five {
	height: 500px;
	width: 1200px;
    font-color: white;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #006600;
float: right}
	
	a {color:#000033; text-decoration:none}
p { text-align: left}
a:hover {color:#CC3300}




h1 {border: 8px solid black;
background-color: #993333;
opacity: 0.8;}


 #six {
	height: 500px;
	width: 1000px;
    font-color: white;
	border: 2px solid black;
	border-radius: 5px;
	background-color:  #993333;
float: left}

   
 #calc{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#calc{ transition:all .8s ease;} #calc:hover{background-color:#336666;transform: rotate(2deg);} 
    
 #adventure{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#adventure{ transition:all .8s ease;} #adventure:hover{background-color:#336666;transform: rotate(2deg);} 


   
 #game{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#game{ transition:all .8s ease;} #game:hover{background-color:#336666;transform: rotate(2deg);} 
    


  
 #vindinium{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#vindinium{ transition:all .8s ease;} #vindinium:hover{background-color:#336666;transform: rotate(2deg);} 
    
    
    #thanks{
	height: 20px;
	width: 100px;
	border: 2px solid black;
	background-color: #CCFF33;
	border-radius: 100px;
}

#thanks{ transition:all .8s ease;} #thanks:hover{background-color:#336666;transform: rotate(2deg);} 
